# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.pyc
db.sqlite3
media/
staticfiles/

# Virtual Environment
venv/
env/
ENV/
*.egg-info/

# VSCode
.vscode/

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py
